<!DOCTYPE html>
<html>
<head>
    <title>Profile Card</title>
    <!--<link rel="stylesheet" type="text/css" href="profilecard.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>
<body>
    <div class="card">
        <div class="lines"></div>
        <div class="imgBx">
            <img src="..\assets\pavi2.jpeg" alt="">
        </div>
        <div class="content">
            <div class="details">
                <h2>Pavithra V<br><span>Developer</span></h2>
                <div class="social_icon">
                <ul>       
                        <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="https://in.linkedin.com"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com"><i class="fab fa-instagram-square"></i></a></li>
                    </ul>
                </div>
                 
                    
            </div>
        </div>
    </div>
</body>
</html>
