<html>

<head>
    <title>About</title>
    <!--<link rel="stylesheet" href="form1.css">-->
</head>

<body>
    <div class="about">
        <div class="inner-section">
            <h2>About us</h2>
            <p class="text">Education is a purposeful activity directed at achieving certain aims, such as transmitting knowledge or fostering skills and character traits. These aims may include the development of understanding, rationality, kindness, and honesty. </p>
            <div class="skills">
                <a href="contact"><button>Contact us</button></a>
            </div>
        </div>
    </div>
</body>
</html>