*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    bottom: 10%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
   
}
.about{
    background: url("C:\Users\Pavithra V\OneDrive\Desktop\Angular Project\fullstackproject\src\assets\e-learning2.jpg") no-repeat left;
    background-size: 55%;
    overflow: hidden;
    padding: 100px 0;
    margin-left: 7%;
    bottom: 5%;
}
.inner-section{
    bottom: 17%;
    width: 55%;
    float: right;
    background-color: #63cac3;
    padding: 140px;
    box-shadow: 13px 12px 8px rgba(0,0,0,0.3);
}
.inner-section h2{
    margin-right: 5%;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.text{
    font-size: 20px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 30px;
}
.skills button{
    font-size: 22px;
    text-align: center;
    letter-spacing: 2px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    width: 150px;
    background-color: #2a2c2c;
    color: white;
    cursor: pointer;
}
.skills button:hover{
    transition: 1s;
    background-color: #ecf5f5;
    color: #00999c;
}
@media screen and (max-width:1200px){
    .inner-section{
        padding: 80px;
    }
}
@media screen and (max-width:1000px){
    .about{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-section{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about{
        padding: 0;
    }
    .inner-section{
        padding: 60px;
    }
    .skills button{
        font-size: 19px;
        padding: 5px;
        width: 160px;
    }
}