<!DOCTYPE html>
<html>

<head>
    <title>Login Form</title>
    <!--<link rel="stylesheet" href="form1.css">-->
</head>
<!-- we are creating a loginpage to enter the user cerdential-->
<body>
    <div class="box">
        <div class="form">
            <h2>Sign in</h2>
            <div class="inputBox">
                <input type="text" name="username" maxlength="20" required="required" [(ngModel)]="username">
                <span>UserName</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" name="password" maxlength="8" required="required" [(ngModel)]="password">
                <span>Password</span>
                <i></i>
            </div>
            <div class="links">
                <a href="forgotpassword">Forgot Password</a>
                <p>Don't have an account? <a href="registration">Signup</a></p>
            </div>
            <div class="error">
                <p id="e">{{emessage}}</p>
                <button (click)=checkLogin() class="submit">Login</button>
            </div>
        </div>
    </div>
</body>

</html>