*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
label{
    margin: 5%;
}
.input .span{
    margin: 20%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    top: 0;
    background: none;
}
.form{
    width: 450px;
    height: 400px;
    border-radius: 20px;
    background: #141414;
    border: 3px solid blue;
    box-shadow: 0px 5px 10px 0px rgba(7, 220, 220), 1px 3px 4px 0px rgba(7, 220, 220);
}
.form:hover{
    border:3px solid green;
    transition: 0.5s ease-in-out;
}
.box{
    margin-top: 0;
    text-align: center;
    color:white;
}
input{
    margin: 16px auto;
    width: 300px;
    height: 60px;
    border-radius: 20px;
    border-bottom: 2px solid green;
    text-align: center;
    color: white;
    background: none;
}
input:hover{
    border: 2px solid rgb(53, 53, 163);
    width: 230px;
    transition: 0.7s ease all;
}
.btn{
    width: 220px;
    height: 60px;
    border:2px solid blue;
    background: none;
    color: white;
    font-size: 18px;
    border-radius: 150px;
    margin: 10%;
}
.btn:hover{
    border: 2px solid rgb(199, 144,78);
    transition: 0.5s ease;
}