<!--these page is used for logout by user-->
<body>
    <div class="container">
        <div class="image">
            <div class="form-box">
                <div class="form">
                    <form>
                        <h2>you have been successfully logged out </h2>
                        <h3>Sign in again to continue working</h3>
                        <a href="login"><button (click)="login()">Re-login</button></a>
                        </form>
                </div>
            </div>
        </div>
    </div>
</body>